brat.rb
/test.brat
/test.lua
.test.lua.tmp
test.lua.last_error
bin/lua
stdlib/*.lua
examples/*.lua
examples/rosetta_code/*.lua
stdlib/parser/*.lua
stdlib/parser/parser.brat
test/*.lua
lib/*.so*
lib/*.dylib
lib/mime/
lib/socket/core.so
src/common/onig-5.9.2/.deps/
src/common/onig-5.9.2/Makefile
src/common/onig-5.9.2/config.log
src/common/onig-5.9.2/config.status
src/common/onig-5.9.2/libtool
src/common/onig-5.9.2/sample/.deps/
src/common/onig-5.9.2/sample/Makefile
stdlib/turbo
*.swp
