<html>
	<head>
		<title>{{title}}</title>
		<link href="_style/main.css" media="all" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div id="main">
			<div id="header">
				<img src="/brat/images/brat-logo.png">
				<div id="nav">
				<a href="/brat">Home</a>
				<a href="/brat/overview.html">Overview</a>
				<a href="/brat/examples.html">Examples</a>
				<a href="http://github.com/presidentbeef/brat/tree/master">Download</a>
				<a href="/brat/notes.html">Notes</a>
				</div>	
			</div>
			<div id="body">
				{{content}}
			</div>
		</div>
	</body>
</html>
