<html>
	<head>
		<title>{{title}}</title>
		  <link href="_stylesheets/prettify.css" media="all" rel="Stylesheet" type="text/css" />
		<script src="_javascript/prettify/prettify.js" type="text/javascript"></script>
	</head>

	<body onLoad="prettyPrint()">
		<div class="main">
			<div class="top">
				<img src="_images/brat-logo.png">
			</div>
			<div class="navigation">
				<a href="/">Home</a>
				<a href="/overview">Overview</a>
				<a href="/examples">Examples</a>
				<a href="http://github.com/presidentbeef/brat/tree/master">Download</a>
				<a href="/notes">Notes</a>
			</div>
			<div class="content">
				{{content}}
			</div>
		</div>
	</body>
</html>
