<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>{{page.title}}</title>
		<link href="style/main.css" media="all" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div id="main">
			<div id="header">
				<img src="/brat/images/brat-logo.png">
				<div id="nav">
					<a href="/brat">Home</a>
					<a href="/brat/overview.html">Overview</a>
					<a href="/brat/quickstart.html">Quickstart</a>
					<a href="/brat/examples.html">Examples</a>
					<a href="http://github.com/presidentbeef/brat/tree/master#readme">Setup</a>
				</div>	
			</div>
			<div id="body">
				{{content}}
			</div>
			<div id="footer">
				<a href="http://github.com/presidentbeef/brat/">Source</a>&nbsp;|&nbsp;
				<a href="http://github.com/presidentbeef/brat/issues">Issues</a>&nbsp;|&nbsp;
				<a href="http://groups.google.com/group/brat-lang">Google Group</a>&nbsp;|&nbsp;
				<a href="http://www.opensource.org/licenses/mit-license.php">License</a>&nbsp;|&nbsp;
				<a href="http://www.presidentbeef.com/">Beef</a>
			</div>
		</div>
	</body>
</html>
