<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta charset="utf-8" />
		<title>Brat Programming Language Documentation - {{page.object}}</title>
		<link href="/style/main.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/style/doc.css" media="all" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div id="main">
			<div id="header">
				<a href="https://brat-lang.org/"><img src="/images/brat-logo.png"></a>
				<div id="nav">
					<a href="https://try.brat-lang.org/">Try</a>
					<a href="/quickstart.html">Quickstart</a>
					<a href="/blog.html">Blog</a>
					<a href="/documentation.html">Documentation</a>
					<a href="/setup.html">Setup</a>
				</div>	
			</div>
			<div id="body">
				<h2><a style="text-decoration:none" href="/docs/{{page.lib}}.html">{{page.lib}}</a>&nbsp;:&nbsp;{{page.object}}</h2>
				<div id="classdesc">
					{{page.desc}}
				</div>
				<div id="methodlist">
					{% for meth in page.methlist %}
					<a href="#{{meth}}">{{meth}}</a>&nbsp;&nbsp;
					{% endfor %}
				</div>
				<div id="doccontent">
					{{content}}
				</div>
			</div>
			<div id="footer">
				<a href="https://github.com/presidentbeef/brat/">Source</a>
				<a href="https://github.com/presidentbeef/brat/issues">Issues</a>
				<a href="https://twitter.com/bratlang">Twitter</a>
				<a href="https://rosettacode.org/wiki/Brat">Rosetta Code</a>
				<a href="https://www.opensource.org/licenses/mit-license.php">License</a>
				<a href="https://www.presidentbeef.com/">Beef</a>
			</div>
		</div>

		<a href="https://github.com/presidentbeef/brat"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets2.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_gray_6d6d6d.png&amp;path=" alt="Fork me on GitHub"></a>

		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-8926654-1");
				pageTracker._trackPageview();
			} catch(err) {}</script>
	</body>
</html>
